@model MiniMundo.Models.Funcionario

@{
    ViewData["Title"] = "Excluir Funcionário";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h2 class="text-center">@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            <form asp-action="Deletar">
                <input type="hidden" asp-for="Id" />
                <h3>Você tem certeza que deseja excluir o funcionário "@Model.Nome"?</h3>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Sim, Excluir</button>
                    <a asp-action="ListarUsuarios" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
